page-map {
  #map{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  #validateButton{
    margin: auto;
    display: block
  }
  #matchedButton{
    margin: auto;
    display: block;

  }
}

SearchBarPageComponent {
  position: relative;
  z-index: 3;
}
