.home {
  background-color: #eff4e1;
}

#logo {
  margin-top: 30%;
  margin-left: 4%;
  height: 160px;
  width: auto;
}

.container {
  margin-left: 35%;
  margin-top: 30px;
}

.container2{
    
}

ion-icon {
  margin-top: 20px;
  justify-content: center;
}
