.home {
  background-color: #eff4e1;
}

#logo {
  margin-top: 30%;
  margin-left: 14%;
  height: 160px;
  width: auto;
}

.container {
  margin-left: 35%;
  margin-top: 30px;
}

.container2 {
  margin-top: 90px;
}

ion-icon {
  margin-top: 20px;
  justify-content: center;
}

.ion-button {
  margin-top: 20px;
}
