.home {
  background-color: #eff4e1;
}

#logo {
  margin-top: 40%;
  margin-left: 4%;
  height: 10px;
  width: auto;
}

.container {
  margin-left: 35%;
  margin-top: 30px;
}

ion-icon {
  margin-top: 20px;
  justify-content: center;
}
