.home {
  background-color: #eff4e1;
}

#logo {
  margin-top: 40%;
  margin-left: 4%;
  height: 220px;
  width: auto;
}

.container {
  margin-left: 35%;
  margin-top : 
}

ion-icon {
  margin-top: 40px;
}
