page-home {
  .home {
    background-color: #eff4e1;
  }

  #logo {
    margin-top: 40%;
    margin-left: 19%;
    height: 160px;
    width: auto;
  }

  .container {
    margin-left: 35%;
    margin-top: 30%;
  }

  .container2 {
    margin-top: 45%;
  }

  ion-icon {
    margin-top: 40%;
    justify-content: center;
  }

  button {
    margin-top: 20%;
  }
}
