page-home {
  .home {
    background: color($colors, home);
  }

  .scroll-content {
    overflow-y: hidden;
  }

  #logo {
    margin-top: 45%;
    margin-bottom: 20%;
    img {
      height: 200px;
      width: auto;
      margin: auto;
      display: block;
    }
  }

  #topButton {
    padding-bottom: 7px;
  }
  
}
