page-main{
  .custom {

    background: color($colors, menu) !important; /* This sets the background color*/

    h3 {
      color: white;
      display: block;
      text-align: center;
    }

    hr {
      background-color: white;
      margin: 0;
    }

    .scroll-content {
      overflow-y: hidden;
      margin: 0;
      padding: 0;
    }

    #avatarUser{
      display: block;
      margin: 10% auto 0 auto;
      width: 200px;
      height: auto;
      border-radius: 50%;
    }

    .button {
      display: block;
      margin: 0 auto 0 auto;
    }

    .toggle{
      display: block;
      margin: 0 auto 0 auto;
    }



    .item {
      background-color: transparent; /*Transparent background-color for each item*/
      color: white;    /*Text color for each item*/
    }

  }

}
