<ion-content padding>
  <ion-grid>
    <div *ngIf="!matchableUser.vehiculed">
      <h3> Vous avez bien accepté la demande de : </h3>
      <ion-row>
        <ion-col *ngIf="matchableUser.uploadPicture.fileDownloadUri!=null" >
          <img class="avatarUser" [src]="matchableUser.uploadPicture.fileDownloadUri">
        </ion-col>
        <ion-col *ngIf="matchableUser.uploadPicture.fileDownloadUri==null" >
          <img class="avatarUser" src="../../../../../../../../assets/imgs/profileImg1.png">
        </ion-col>
      </ion-row>
      <h3>{{ matchableUser.firstName }} {{ matchableUser.lastName[0] }}.</h3>
      <div *ngIf="matchableUser.pedestrian.passengersNumber > 1">
        <h5>({{ matchableUser.pedestrian.passengersNumber }} passagers)</h5>
      </div>
    </div>
    <div *ngIf="this.matchableUser.vehiculed">
      <h3>
        Votre demande a été acceptée par : 
      </h3>
      <ion-row>
        <ion-col *ngIf="this.matchableUser.uploadPicture.fileDownloadUri!=null" >
          <img class="avatarUser" [src]="matchableUser.uploadPicture.fileDownloadUri">
        </ion-col>
        <ion-col *ngIf="this.matchableUser.uploadPicture.fileDownloadUri==null" >
          <img class="avatarUser" src="../../../../../../../../assets/imgs/profileImg1.png">
        </ion-col>
      </ion-row>
      <h3>{{ matchableUser.firstName }} {{ matchableUser.lastName[0] }}.</h3>
    </div>
      
    <!-- <ion-row>
          <ion-col col-8 offset-2>
              <img class="stars"
              [src]="getStar(num)"
              *ngFor="let num of [1,2,3,4,5]">
          </ion-col>
        </ion-row> -->
    <div *ngIf="this.matchableUser.vehiculed">
      <img
      *ngIf="matchableUser.driver.uploadPicture.fileDownloadUri!=null"
      class="carpicture"
      [src]="matchableUser.driver.uploadPicture.fileDownloadUri"
      />
      <ion-row>
        <ion-col class="carinfos" col-5 offset-1>
          <h4>{{ matchableUser.driver.brand }} {{ matchableUser.driver.model }}</h4>
          <h5>{{ this.matchableUser.driver.licensePlate }}</h5>
        </ion-col>
        <ion-col class="carinfos" col-5>
          <div id="carcolor" [style.backgroundColor]='matchableUser.driver.color'></div>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col col-10 offset-1>
        <button ion-button full color="button" icon-start (click)="call()">
          <ion-icon name="call"></ion-icon>Appeler {{ matchableUser.phone }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-10 offset-1>
        <button ion-button full color="button" icon-start>
          <ion-icon name="mail"></ion-icon>Envoyer un SMS
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-8 offset-2>
        <button ion-button full color="danger" (click)="gotToMap()" icon-start>
          <ion-icon name="map"></ion-icon>Retour à la carte
        </button>
      </ion-col>
    </ion-row>
    <!-- <button ion-button (click)="goToRate()" icon-start>
            <ion-icon name="star"></ion-icon>Noter le trajet
        </button> -->
  </ion-grid>
</ion-content>
