page-request-modal {

  // max-width: 80vw;
  // max-height: 60vh;
  // top: 30%;
  // left: 10%;
  // position: absolute;

  .avatarUser{
    border-radius: 50%;
    height: 200px;
    width: 200px;

  }

}
