<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col col-6 offset-3 *ngIf="matchableUser.uploadPicture.fileDownloadUri!=null" >
            <img class="avatarUser" [src]="matchableUser.uploadPicture.fileDownloadUri">
          </ion-col>
          <ion-col col-6 offset-3 *ngIf="matchableUser.uploadPicture.fileDownloadUri==null" >
            <img class="avatarUser" src="../../../../../../assets/imgs/profileImg1.png">
          </ion-col>
          <img src="" >
        </ion-row>
        <ion-row>
          <ion-col col-10 offset-3>
            <h1>{{ matchableUser.firstName }} {{ matchableUser.lastName[0] }}.</h1>
          </ion-col>
        </ion-row>
        <!-- Affichage rating utilisateur -->
        <!-- <ion-row>
            <ion-col col-8 offset-3>
              <img class="stars"
              [src]="getStar(num)"
              *ngFor="let num of [1,2,3,4,5]">
            </ion-col>
        </ion-row> -->
        <ion-row class="goToRow">
            <ion-col>
                <h3>Se rend à :</h3>
                <p><ion-icon name="locate"></ion-icon>
                    {{ matchableUser.trip.destinationString }}
                </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-10 offset-1>
                <button ion-button full color="button" (click)="sendRequest()">Envoyer une demande</button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-10 offset-1>
                <button ion-button  full color="danger" (click)="closeModal()">Annuler</button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
